
.anchor {
  -fx-background-color: rgb(34, 31, 31); 
}


.text {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-fill: #faf9f9;
}


.label {
  -fx-font-size: 14px;
  -fx-text-fill: #333333;
}


.text-field, .password-field {
  -fx-border-color: #bfbfbf;
  -fx-border-radius: 4;
  -fx-background-color: white;
  -fx-padding: 4 4 4 4;
}


.button {
  -fx-background-color: rgb(213, 213, 34);
  -fx-text-fill: white;
}

.button:hover {
  -fx-background-color: #4cae4c;
}

.error-label{
  -fx-text-fill: #ec0808;
}